<div class="navbar navbar-default">
    <form id="date-form" action="." method="get" class="navbar-form navbar-left">
        <div class="form-group">
            <input type="text" data-date="1" value="{{ start|date:'m/d/Y' }}"
                class="form-control" name="start" />
        </div>
             -
        <div class="form-group">
            <input type="text" data-date="1" value="{{ end|date:'m/d/Y' }}"
                class="form-control" name="end" />
        </div>
        <button class="btn btn-primary">Change Date</button>
    </form>
</div>
